<aside
  class="hidden overflow-hidden flex-col border-r border-zinc-800 bg-zinc-900 transition-all duration-300 md:flex"
  [class.w-64]="isOpen()"
  [class.w-20]="!isOpen()"
>
  <div class="p-6 text-2xl font-bold">
    @if (isOpen()) {
      Cidade Ativa
    } @else {
      CA
    }
  </div>

  <nav
    class="flex flex-col gap-2 transition-all duration-300"
    [class.p-4]="isOpen()"
    [class.p-2]="!isOpen()"
  >
    <a
      routerLink="/"
      routerLinkActive="bg-zinc-800 text-emerald-400"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-3 rounded-lg py-3 transition hover:bg-zinc-800"
      [class.justify-start]="isOpen()"
      [class.justify-center]="!isOpen()"
      [class.px-4]="isOpen()"
      [class.px-0]="!isOpen()"
    >
      <lucide-icon [img]="dashboardIcon" class="h-5 w-5" />

      @if (isOpen()) {
        <span>Dashboard</span>
      }
    </a>

    <a
      routerLink="/eventos"
      routerLinkActive="bg-zinc-800 text-emerald-400"
      class="flex items-center gap-3 rounded-lg py-3 transition hover:bg-zinc-800"
      [class.justify-start]="isOpen()"
      [class.justify-center]="!isOpen()"
      [class.px-4]="isOpen()"
      [class.px-0]="!isOpen()"
    >
      <lucide-icon [img]="eventsIcon" class="h-5 w-5" />

      @if (isOpen()) {
        <span>Eventos</span>
      }
    </a>

    <a
      routerLink="/ranking"
      routerLinkActive="bg-zinc-800 text-emerald-400"
      class="flex items-center gap-3 rounded-lg py-3 transition hover:bg-zinc-800"
      [class.justify-start]="isOpen()"
      [class.justify-center]="!isOpen()"
      [class.px-4]="isOpen()"
      [class.px-0]="!isOpen()"
    >
      <lucide-icon [img]="rankingIcon" class="h-5 w-5" />

      @if (isOpen()) {
        <span>Ranking</span>
      }
    </a>
  </nav>
</aside>
